h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "PT Sans", tahoma;
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  transition: all ease 0.3s;
}
.navbar.navbar-active {
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
}
.navbar.navbar-active .navbar-brand {
  color: #E8C136;
}
.navbar.navbar-active .navbar-toggler {
  color: #333;
}
.navbar.navbar-active .navbar-nav li a {
  color: #333;
}
.navbar .navbar-toggler {
  color: #fff;
}
.navbar .navbar-brand {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}
.navbar .navbar-nav li {
  margin-left: 15px;
}
.navbar .navbar-nav li a {
  color: #fff;
}

footer {
  background-color: #333;
  padding: 15px;
}
footer p {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.5em;
}

.footer-map {
  width: 100%;
  height: 300px;
}

.hero-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25vh 5vh;
  color: #fff;
  text-align: center;
  position: relative;
}
.hero-section .dark-overlay h1 {
  font-size: 3.5em;
}
.hero-section .dark-overlay p {
  font-size: 1.4em;
}
.hero-section .mouse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E8C136;
  position: absolute;
  bottom: -25px;
  right: calc(50% - 25px);
  left: calc(50% - 25px);
  text-align: center;
  font-size: 10px;
  padding-top: 18px;
}
.hero-section .mouse i {
  color: #fff;
  -webkit-animation: CursorAnimation 1s 1;
          animation: CursorAnimation 1s 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#b2c-hero-section {
  background: url("../images/1.jpg") no-repeat center center;
  background-size: cover;
}

.about-us .section-title::after {
  left: 0;
}
.about-us p {
  color: #727272;
}
.about-us img {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.contact-us ul {
  list-style: none;
}
.contact-us ul li {
  margin-bottom: 10px;
}
.contact-us ul li img {
  width: 20px;
  height: auto;
  margin-right: 15px;
}
.contact-us ul li a {
  color: #333333;
}
.contact-us form label {
  display: block;
  font-weight: bold;
}
.contact-us form input,
.contact-us form textarea {
  display: block;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px;
  border: 0;
  margin-bottom: 15px;
}
.contact-us form button {
  border: 0;
}

.bundle-benefits .col-lg-4 {
  width: 90%;
}
.bundle-benefits .bundle-icon {
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  margin-bottom: -40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E8C136;
  padding-top: 25px;
  text-align: center;
}
.bundle-benefits .bundle-icon i {
  color: #fff;
  font-size: 2.3em;
  transform: rotate(-45deg);
}
.bundle-benefits .bundle-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.bundle-benefits .bundle-card .bundle-data {
  padding: 75px 25px 25px 25px;
  text-align: center;
}
.bundle-benefits .bundle-card .bundle-data h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.bundle-benefits .bundle-card .bundle-data p {
  color: #727272;
}

.image-background-section .dark-overlay {
  padding: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-background-section .dark-overlay h2 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
}
.image-background-section .dark-overlay p {
  color: #fff;
  font-size: 1.5em;
}
.image-background-section .dark-overlay form {
  display: flex;
}
.image-background-section .dark-overlay form input {
  flex: 6;
  padding: 10px;
  border: 0;
}
.image-background-section .dark-overlay form button {
  flex: 1;
  border: 0;
}

#arch-interiors-bg {
  background: url("../images/image-hero-bg.jpg") no-repeat center center;
  background-size: cover;
}

#newsletter-bg {
  background: url("../images/image-hero-bg.jpg") no-repeat center center;
  background-size: cover;
}

.images-grid .countertops .single-item a, .images-grid .countertops .single-item img {
  width: 100%;
  height: 350px;
}
.images-grid .single-item {
  width: 99%;
  margin: 15px auto;
}
.images-grid .single-item a, .images-grid .single-item img {
  width: 100%;
  height: 275px;
}

.single-full-carpet-design {
  padding: 0;
  position: relative;
  margin-bottom: 30px;
}
.single-full-carpet-design:hover .view-more-button {
  opacity: 1;
  transition: all ease 0.3s;
}
.single-full-carpet-design img.main-img {
  display: block;
  width: 100%;
  height: 105px;
}
.single-full-carpet-design .view-more-button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 999;
  transition: all ease 0.3s;
}
.single-full-carpet-design .view-more-button .modal-body-content {
  display: none;
}
.single-full-carpet-design .view-more-button a {
  color: #fff;
  font-size: 2em;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px 25px;
  transition: all ease 0.3s;
}
.single-full-carpet-design .view-more-button a:hover {
  transition: all ease 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}
.single-full-carpet-design .more-variations-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0 25px;
  position: absolute;
  bottom: 5px;
}
.single-full-carpet-design .more-variations-list li img {
  display: block;
  border: 2px solid #E8C136;
  width: 100px;
  height: auto;
}

#single-image-modal .more-images-modal-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#single-image-modal .more-images-modal-list li {
  margin: 10px;
}
#single-image-modal .more-images-modal-list li img {
  width: 100%;
  height: auto;
}

.section-padding {
  padding: 8vh 0;
}

.section-title {
  font-weight: bold;
  font-size: 2.5em;
  position: relative;
}
.section-title::after {
  content: "";
  width: 50px;
  height: 6px;
  background-color: #E8C136;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 25px);
  right: calc(50% - 25px);
}

.text-brand {
  color: #E8C136;
}

.brand-btn {
  background-color: #E8C136;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  transition: all ease 0.3s;
  border: 0;
}
.brand-btn:hover {
  background-color: #d3aa18;
  color: #fff;
  transition: all ease 0.3s;
}

.b2b-slider {
  width: 90%;
}
.b2b-slider img {
  height: 440px;
}

@media screen and (max-width: 768px) {
  .navbar .navbar-nav {
    background-color: #fff;
  }
  .navbar .navbar-nav li a {
    color: #333;
  }

  footer {
    padding: 20px 5px;
  }
  footer p {
    font-size: 0.9em;
  }

  .hero-section .dark-overlay {
    padding: 12vh 2vh;
  }
  .hero-section .dark-overlay h1 {
    font-size: 2.5em;
    min-height: 100px;
  }
  .hero-section .dark-overlay p {
    font-size: 1em;
  }

  .about-us .row {
    flex-direction: column-reverse;
  }
  .about-us .section-title {
    text-align: center;
  }
  .about-us .section-title::after {
    left: calc(50% - 25px);
  }
  .about-us img {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .bundle-benefits .col-lg-4 {
    width: 100%;
    margin-bottom: 50px;
  }

  .image-background-section .dark-overlay {
    padding: 3vh;
  }
  .image-background-section .dark-overlay h2 {
    font-size: 1.9em;
  }
  .image-background-section .dark-overlay p {
    font-size: 1em;
  }

  .section-padding {
    padding: 5vh 0;
  }

  .section-title {
    font-size: 1.7em;
  }

  .single-full-carpet-design {
    margin-bottom: 10px;
  }

  .images-grid .single-item a, .images-grid .single-item img {
    height: auto;
    width: 100%;
  }

  .b2b-slider img {
    height: 78px;
  }
}
@-webkit-keyframes CursorAnimation {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  25% {
    opacity: 0.75;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  75% {
    opacity: 0.25;
    transform: scale(1.3);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes CursorAnimation {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  25% {
    opacity: 0.75;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  75% {
    opacity: 0.25;
    transform: scale(1.3);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
